{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}SignUp - Calourie Tracker{% endblock%}

{% block head %}
{% endblock %}

{% block content %}
<form action="{% url 'signup' %}" method="POST">
    {% csrf_token %}
    <div style="background-color: #17A3B8;padding: 5px;border-radius: 3px;">
        <span style="font-size: 30px;color: white;font-weight: 600;">Cadastre-se</span>
    </div>
    {{ form|crispy }}
    <button class="btn btn-success">Cadastrar</button>
</form>
{% endblock %}